-
    const defaultBtnProps = {
        classes: '',
        tag: 'button',
        buttonType: 'button',
        text: 'Кнопка',
        cMode: '',
        icon: ''
    }

mixin btn(props = defaultBtnProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultBtnProps.classes,
            tag: props.tag ? props.tag : defaultBtnProps.tag,
            buttonType: props.buttonType ? props.buttonType : defaultBtnProps.buttonType,
            text: props.text ? props.text : defaultBtnProps.text,
            cMode: props.cMode ? props.cMode : defaultBtnProps.cMode,
            icon: props.icon ? props.icon : defaultBtnProps.icon,
        }

        let cModeClass = checkProps.cMode.length > 0 ? ` btn--${checkProps.cMode}` : ''

    button.btn(class=checkProps.classes + cModeClass type=checkProps.buttonType)&attributes(attributes)
        - if(checkProps.text.length > 0)
            .btn__text!= checkProps.text
        - if(checkProps.icon.length > 0)
            .btn__icon
                svg
                    use(xlink:href=`img/sprites/sprite.svg#${checkProps.icon}`)
